DashboardBackup.txt
[{"id":"291a82ad.40f6ee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"77ca6a4d.618194","type":"csv","z":"291a82ad.40f6ee","name":"CSVParse","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"content, value","skip":"0","x":570,"y":160,"wires":[["1214d39.c1ec42c"]]},{"id":"1214d39.c1ec42c","type":"delay","z":"291a82ad.40f6ee","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":160,"wires":[["12b9b223.3a62be","65de7abb.bc5bd4","174ac44d.b083ac"]]},{"id":"9f9d3106.c07f9","type":"debug","z":"291a82ad.40f6ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":300,"wires":[]},{"id":"6d351c88.dd1a74","type":"file in","z":"291a82ad.40f6ee","name":"","filename":"D:\\Adrenalan2\\SentimentAnalysis.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":160,"wires":[["77ca6a4d.618194"]]},{"id":"9f4f90d2.9047a","type":"inject","z":"291a82ad.40f6ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["6d351c88.dd1a74"]]},{"id":"65de7abb.bc5bd4","type":"function","z":"291a82ad.40f6ee","name":"GetContentValue","func":"var out = {topic: msg.payload.content, payload: parseInt(msg.payload.value, 10)};\nreturn out;","outputs":1,"noerr":0,"x":150,"y":480,"wires":[[]]},{"id":"5c68ffea.8c20b","type":"ui_chart","z":"291a82ad.40f6ee","name":"","group":"c4c31014.9dd2a","order":2,"width":0,"height":0,"label":"Comment Positivity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"-","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#6441a5","#a58dd1","#3d2763","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":400,"wires":[[]]},{"id":"f6dbc086.cec5c","type":"ui_text","z":"291a82ad.40f6ee","group":"2613d961.688036","order":1,"width":0,"height":0,"name":"Top Comment","label":"Top Comment","format":"{{msg.payload}}","layout":"col-center","x":700,"y":440,"wires":[]},{"id":"12b9b223.3a62be","type":"function","z":"291a82ad.40f6ee","name":"GetContent","func":"var out = {payload: msg.payload.content};\nreturn out;","outputs":1,"noerr":0,"x":130,"y":440,"wires":[["f6dbc086.cec5c","77be94a7.aa32ec","d07e1bb1.820d48","9ef3883f.8980e8","4a334f8b.79b5d"]]},{"id":"7f4bd69c.cb1088","type":"inject","z":"291a82ad.40f6ee","name":"NoInputPlaceholderString","topic":"","payload":"-","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":150,"y":200,"wires":[["f6dbc086.cec5c"]]},{"id":"77b658e6.343428","type":"ui_chart","z":"291a82ad.40f6ee","name":"Keyword Counts: Hardware","group":"2613d961.688036","order":2,"width":0,"height":0,"label":"Keyword Counts: Hardware","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"-","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#6441a5","#a58dd1","#3d2763","#8361c0","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":480,"wires":[[]]},{"id":"62e2de0.f214224","type":"inject","z":"291a82ad.40f6ee","name":"ResetGraph","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":240,"wires":[["77b658e6.343428","5c68ffea.8c20b","e98b1b8d.6da808","51831970.03bae8","85e3f975.b27a68","988aeae0.c99448"]]},{"id":"174ac44d.b083ac","type":"function","z":"291a82ad.40f6ee","name":"GetValue","func":"var out = {payload: parseInt(msg.payload.value, 10)};\nreturn out;","outputs":1,"noerr":0,"x":120,"y":400,"wires":[["4b712790.9b6f18","d72c30be.50954"]]},{"id":"134141c7.d6eb9e","type":"function","z":"291a82ad.40f6ee","name":"SumValues","func":"var count = context.get('count') || 0;\n\nif (count === undefined)//test exists\n{\n  count = 0;\n}\n\ncount = count + parseInt(msg.payload, 10)\n\nout = {payload: count}\ncontext.set('count',count);\n\nreturn out;","outputs":1,"noerr":0,"x":110,"y":620,"wires":[[]]},{"id":"4b712790.9b6f18","type":"function","z":"291a82ad.40f6ee","name":"SumFIFO","func":"var count = context.get('count') || [];\nif (count === undefined)//test exists\n{\n  count = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\n\ntemp = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n\ntemp[0] = parseInt(msg.payload, 10);\nfor (i = 0; i < count.length - 1; i++) {\n  temp[i+1] = count[i];\n}\n\nsigma = 0\nfor (i = 0; i < temp.length; i++) {\n  sigma += temp[i];\n}\n\nout = {topic: \"Comment Positivity\", payload: sigma}\ncontext.set('count', temp);\n\nreturn out;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["5c68ffea.8c20b","895d5a5c.9dff58","85e3f975.b27a68"]]},{"id":"77be94a7.aa32ec","type":"function","z":"291a82ad.40f6ee","name":"WordDetectHW","func":"var topics = context.get('topics') || [];\nif (topics[0] === undefined){\n  var topics = [0,0];\n}\n\nval = msg.payload.toLowerCase();\nout = null;\n\nsearchWords = [\"pc\", \"console\"];\n\nfor (i = 0; i < searchWords.length; i++) {\n    if (val.includes(searchWords[i])){\n        topics[i] ++;\n        out = {topic: searchWords[i], payload: topics[i]};\n    }\n}\n\ncontext.set('topics', topics);\n\nreturn out;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["77b658e6.343428"]]},{"id":"e98b1b8d.6da808","type":"ui_chart","z":"291a82ad.40f6ee","name":"Comment Positivity Distribution","group":"c4c31014.9dd2a","order":3,"width":0,"height":0,"label":"Comment Positivity Distribution","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"-","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#3d2763","#6441a5","#a58dd1","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":560,"wires":[[]]},{"id":"d72c30be.50954","type":"function","z":"291a82ad.40f6ee","name":"PositiveNeutralNegative","func":"var countPos = context.get('countPos') || 0;\nif (countPos === undefined)//test exists\n{\n  countPos = 0;\n}\nvar countNeu = context.get('countNeu') || 0;\nif (countNeu === undefined)//test exists\n{\n  countNeu = 0;\n}\nvar countNeg = context.get('countNeg') || 0;\nif (countNeg === undefined)//test exists\n{\n  countNeg = 0;\n}\n\nval = msg.payload\n\nif (val === 1){\n    countPos ++;\n    out = {topic: \"Positive\", payload: countPos};\n}else if (val === 0){\n        countNeu ++;\n    out = {topic: \"Neutral\", payload: countNeu};\n}else if (val === -1){\n    countNeg ++;\n    out = {topic: \"Negative\", payload: countNeg};\n}else{\n    return \"error\";\n}\n\ncontext.set('countPos', countPos);\ncontext.set('countNeu', countNeu);\ncontext.set('countNeg', countNeg);\n\nreturn out;","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["e98b1b8d.6da808"]]},{"id":"1542aa4a.52e0f6","type":"ui_gauge","z":"291a82ad.40f6ee","name":"New Subscribers","group":"8a2fcb6f.3eff18","order":1,"width":0,"height":0,"gtype":"gage","title":"New Subscribers","label":"Subs","format":"{{value}}","min":0,"max":"50","colors":["#a58dd1","#6441a5","#3d2763"],"seg1":"","seg2":"","x":710,"y":600,"wires":[]},{"id":"d07e1bb1.820d48","type":"function","z":"291a82ad.40f6ee","name":"SubscribeDetect","func":"var topic = context.get('topic') || 0;\nif (topic === undefined){\n  var topic = 0;\n}\n\nval = msg.payload;\n\nsearchWord = \"just subscribed with\";\n\nif (val.includes(searchWord)){\n    topic ++;\n}\n\ncontext.set('topic', topic);\nout = {payload: topic};\n\nreturn out;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["1542aa4a.52e0f6"]]},{"id":"895d5a5c.9dff58","type":"ui_gauge","z":"291a82ad.40f6ee","name":"Positivity Gauge","group":"c4c31014.9dd2a","order":1,"width":0,"height":0,"gtype":"gage","title":"Positivity Gauge","label":"","format":"{{value}}","min":"-10","max":"10","colors":["#a58dd1","#6441a5","#3d2763"],"seg1":"","seg2":"","x":700,"y":360,"wires":[]},{"id":"41429889.406568","type":"inject","z":"291a82ad.40f6ee","name":"ResetZero","topic":"ResetZero","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":280,"wires":[["895d5a5c.9dff58","1542aa4a.52e0f6"]]},{"id":"51831970.03bae8","type":"ui_chart","z":"291a82ad.40f6ee","name":"Gain Rate","group":"8a2fcb6f.3eff18","order":2,"width":0,"height":0,"label":"Gain Rate","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"-","dot":false,"ymin":"0","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#6441a5","#a58dd1","#3d2763","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":640,"wires":[[]]},{"id":"9ef3883f.8980e8","type":"function","z":"291a82ad.40f6ee","name":"SubscribeGainFIFO","func":"var countSub = context.get('countSub') || [];\nif (countSub === undefined)//test exists\n{\n  countSub = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\n\ntemp = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n\nsearchWord = \"just subscribed with\";\nval = msg.payload;\n\nif (val.includes(searchWord)){\n    temp[0] = 1;\n}\n\nfor (i = 0; i < countSub.length - 1; i++) {\n  temp[i+1] = countSub[i];\n}\n\nsigma = 0\nfor (i = 0; i < temp.length; i++) {\n  sigma += temp[i];\n}\n\nout = {topic: \"Subscriber Gain Rate\", payload: sigma}\ncontext.set('countSub', temp);\n\nreturn out;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["51831970.03bae8","85e3f975.b27a68"]]},{"id":"85e3f975.b27a68","type":"ui_chart","z":"291a82ad.40f6ee","name":"Gain Rate and Comment Positivity","group":"8a2fcb6f.3eff18","order":2,"width":0,"height":0,"label":"Gain Rate and Comment Positivity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"-","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#6441a5","#a58dd1","#3d2763","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":680,"wires":[[]]},{"id":"988aeae0.c99448","type":"ui_chart","z":"291a82ad.40f6ee","name":"Keyword Counts: Ninja & Twitch Prime","group":"2613d961.688036","order":2,"width":0,"height":0,"label":"Keyword Counts: Ninja & Twitch Prime","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"-","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#6441a5","#a58dd1","#3d2763","#8361c0","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":520,"wires":[[]]},{"id":"4a334f8b.79b5d","type":"function","z":"291a82ad.40f6ee","name":"WordDetectPrime","func":"var topics = context.get('topics') || [];\nif (topics[0] === undefined){\n  var topics = [0,0];\n}\n\nval = msg.payload.toLowerCase();\nout = null;\n\nsearchWords = [\"twitch prime\", \"ninja\"];\n\nfor (i = 0; i < searchWords.length; i++) {\n    if (val.includes(searchWords[i])){\n        topics[i] ++;\n        out = {topic: searchWords[i], payload: topics[i]};\n    }\n}\n\ncontext.set('topics', topics);\n\nreturn out;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["988aeae0.c99448"]]},{"id":"c4c31014.9dd2a","type":"ui_group","z":"","name":"Chat Health","tab":"6f268137.60f48","order":1,"disp":true,"width":"8","collapse":false},{"id":"2613d961.688036","type":"ui_group","z":"","name":"Chat Content","tab":"6f268137.60f48","order":3,"disp":true,"width":"8","collapse":false},{"id":"8a2fcb6f.3eff18","type":"ui_group","z":"","name":"Subscriber Gains","tab":"6f268137.60f48","order":2,"disp":true,"width":"8","collapse":false},{"id":"6f268137.60f48","type":"ui_tab","z":"","name":"RageQuit","icon":"fa-twitch","order":2,"disabled":false,"hidden":false}]